<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="author" content="Maksis Grundans">
    <meta name="group" content="310">
    <meta name="group_name" content="VEMEM">
    <meta name="date_created" content="14.09.2023">
    <meta name="date_modify" content="14.09.2023">

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <title>
      <%=title %>
    </title>
</head>

<body>
  <%- include(../"partials/navbar.ejs") %>

   

<div class="container mt-3">
  <form action="/delete/product" method="POST">

    <!-- Product Name -->
    <div class="mb-3 mt-3">
      <label for="prod_name">Product Name:</label>
      <input type="text" class="form-control" id="prod_name" placeholder="Enter product name" name="prod_name" />
    </div>

    <!-- Bar code -->
    <div class="mb-3">
      <label for="bar_code">Bar Code:</label>
      <input type="text" class="form-control" id="bar_code" placeholder="Enter Bar Code" name="bar_code" />
    </div>


    <!-- Export date -->
    <div class="mb-3">
      <label for="export_date">Export Date:</label>
      <input type="date" class="form-control" id="export_date" placeholder="Enter export date" name="export_date" />
    </div>


    <!-- Exporter -->
    <div class="mb-3">
      <label for="exporter">Deliverer name:</label>
      <input type="text" class="form-control" id="exporter" placeholder="Enter Exporter name" name="exporter" />
    </div>

    <!-- Export date -->
    <div class="mb-3">
        <label for="object">Quantity:</label>
        <input type="text" id="object" class="form-control" placeholder="Enter Object" name="object" />
      </div>
      
      <!-- Quantity -->
      <div class="mb-3">
        <label for="quantity">Quantity:</label>
        <input type="text" id="quantity" class="form-control" placeholder="Enter Quantity" name="quantity" />
      </div>


    </div>
    </br>

    <!-- Export date -->
    <div class="text-center">
      <button type="submit" class="btn btn-primary text" style="width: 200px">Submit</button>
    </div>

  </form>
</div>

<%- include("../partials/footer.ejs") %>

</body>

</html>